[core]
	excludesfile = /Users/yikeda/.gitignore_global
[user]
	name = Yasushi Ikeda
	email = yikeda6616@gmail.com
[commit]
	template = /Users/yikeda/.stCommitMsg
[ghq]
  root = ~/ghq
[pull]
	rebase = false
[color]
	ui = auto
[init]
	defaultBranch = main
[credential "https://github.com"]
  helper = osxkeychain
[credential "https://git-codecommit.ap-northeast-1.amazonaws\.com/"]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
